<!--ユーザー画像は一覧と詳細画面で仕様が変わるためそれぞれのビューに記載-->
<td><%= link_to book.title,book %></td>
<td><%= book.body %></td>
<td id="favorite_buttons_<%= book.id %>">
  <%= render "favorites/favorite",book: book %>
</td>
<td>
  コメント数：<%= book.book_comments.count %>
</td>
<td>
  閲覧数：<%= book.foot_stanps.count %>
</td>
