<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @show_book.user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@show_book.user) do %>
            <%= image_tag @show_book.user.get_profile_image(100,100) %><br>
            <%= @show_book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @show_book.title, @show_book %></td>
          <td><%= @show_book.body %></td>
          <% if @show_book.user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@show_book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @show_book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>
      <table class="table">
        <% @show_book.book_comments.each do |comment| %>
        <tr>
          <td>
            <%= link_to user_path(comment.user) do %>
              <%= image_tag comment.user.get_profile_image(50,50) %><br>
              <%= comment.user.name %>
            <% end %>
          </td>
          <td><%= comment.comment %></td>
          <% if comment.user == current_user %>
            <td><%= link_to "Destroy", book_book_comment_path(@show_book, comment), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に消しますか？" %></td>
          <% end %>
        </tr>
        <% end %>
      </table>
      <%= form_with model: [@show_book, @book_comment], method: :post do |f| %>
        <%= f.text_area :comment, autoforus: true %>
        <%= f.submit "送信"%>
      <% end %>
    </div>
  </div>
</div>