<h1>Follow Users</h1>
<% if @user.following.empty? %>
  <p>ユーザーはいません</p>
<% else%>
  <table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @user.following.each do |follow| %>
        <tr>
          <td><%= image_tag follow.get_profile_image(50,50) %></td>
          <td><%= follow.name %></td>
          <td>フォロー数：<%= follow.following.count %></td>
          <td>フォロワー数：<%= follow.followers.count %></tdq>
          <td><%= link_to "Show", user_path(follow) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>