  <td><%= image_tag user.get_profile_image(50,50) %></td>
  <td><%= user.name %></td>
  <td>フォロー数：<%= user.following.count %></td>
  <td>フォロワー数：<%= user.followers.count %></td>
  <td>
    <% if current_user.id != user.id %>
      <% if current_user.followed_by?(user) %>
        <%= link_to "フォロー外す", user_relationships_path(user), method: :delete %>
      <% elsif %>
        <%= link_to "フォローする", user_relationships_path(user), method: :post %>
      <% end %>
    <% end %>
  </td>
  <td><%= link_to 'Show', user %></td>